/*====color====*/
$c-1:#f5da0d;
$c-2:#ac4bb4;
$c-3:#538dfa;
$c-4:#7d7aed;
$c-4:#67e3e3;
$c-5:#0000ff;
$c-6:#f7f8f8;
$c-7:#d7dede;
$c-8:#ff5b34;
$c-9:#ff9e15;
$c-10:#01ce7b;
$c-11:#7cacd3;
$c-12:#004888;
$c-13:#909c9c;
$c-14:#00347b;
$c-15:#000000;

    /***font famaly**/
    $no:"Noticia Text", serif;
    $ov: "OV", sans-serif;